[submodule "retext/retext"]
	path = retext/retext
	url = git@github.com:wooorm/retext.git
[submodule "retext/retext-overuse"]
	path = retext/retext-overuse
	url = git@github.com:dunckr/retext-overuse.git
[submodule "retext-cliches"]
	path = retext-cliches
	url = git@github.com:dunckr/retext-cliches.git
[submodule "retext-usage"]
	path = retext-usage
	url = git@github.com:admhlt/retext-usage.git
[submodule "retext-simplify"]
	path = retext-simplify
	url = git@github.com:wooorm/retext-simplify.git
[submodule "retext-equality"]
	path = retext-equality
	url = git@github.com:wooorm/retext-equality.git
[submodule "retext-contractions"]
	path = retext-contractions
	url = git@github.com:wooorm/retext-contractions.git
[submodule "retext-diacritics"]
	path = retext-diacritics
	url = git@github.com:wooorm/retext-diacritics.git
[submodule "retext-dutch"]
	path = retext-dutch
	url = git@github.com:wooorm/retext-dutch.git
[submodule "retext-english"]
	path = retext-english
	url = git@github.com:wooorm/retext-english.git
[submodule "retext-emoji"]
	path = retext-emoji
	url = git@github.com:wooorm/retext-emoji.git
[submodule "retext-indefinite-article"]
	path = retext-indefinite-article
	url = git@github.com:wooorm/retext-indefinite-article.git
[submodule "retext-keywords"]
	path = retext-keywords
	url = git@github.com:wooorm/retext-keywords.git
[submodule "retext-passive"]
	path = retext-passive
	url = git@github.com:wooorm/retext-profanities.git
[submodule "retext-readability"]
	path = retext-readability
	url = git@github.com:wooorm/retext-readability.git
[submodule "retext-redundant-acronyms"]
	path = retext-redundant-acronyms
	url = git@github.com:wooorm/retext-redundant-acronyms.git
[submodule "retext-repeated-words"]
	path = retext-repeated-words
	url = git@github.com:wooorm/retext-repeated-words.git
[submodule "retext-sentence-spacing"]
	path = retext-sentence-spacing
	url = git@github.com:wooorm/retext-sentence-spacing.git
[submodule "retext-sentiment"]
	path = retext-sentiment
	url = git@github.com:wooorm/retext-sentiment.git
[submodule "retext-smartypants"]
	path = retext-smartypants
	url = git@github.com:wooorm/retext-smartypants.git
[submodule "retext-spell"]
	path = retext-spell
	url = git@github.com:wooorm/retext-spell.git
[submodule "retext-syntax-mentions"]
	path = retext-syntax-mentions
	url = git@github.com:wooorm/retext-syntax-mentions.git
[submodule "retext-quotes"]
	path = retext-quotes
	url = git@github.com:wooorm/retext-quotes.git
[submodule "retext/retext-cliches"]
	path = retext/retext-cliches
	url = git@github.com:dunckr/retext-cliches.git
[submodule "retext/retext-usage"]
	path = retext/retext-usage
	url = git@github.com:admhlt/retext-usage.git
[submodule "retext/retext-simplify"]
	path = retext/retext-simplify
	url = git@github.com:wooorm/retext-simplify.git
[submodule "retext/retext-equality"]
	path = retext/retext-equality
	url = git@github.com:wooorm/retext-equality.git
[submodule "retext/retext-contractions"]
	path = retext/retext-contractions
	url = git@github.com:wooorm/retext-contractions.git
[submodule "retext/retext-diacritics"]
	path = retext/retext-diacritics
	url = git@github.com:wooorm/retext-diacritics.git
[submodule "retext/retext-dutch"]
	path = retext/retext-dutch
	url = git@github.com:wooorm/retext-dutch.git
[submodule "retext/retext-english"]
	path = retext/retext-english
	url = git@github.com:wooorm/retext-english.git
[submodule "retext/retext-emoji"]
	path = retext/retext-emoji
	url = git@github.com:wooorm/retext-emoji.git
[submodule "retext/retext-indefinite-article"]
	path = retext/retext-indefinite-article
	url = git@github.com:wooorm/retext-indefinite-article.git
[submodule "retext/retext-keywords"]
	path = retext/retext-keywords
	url = git@github.com:wooorm/retext-keywords.git
[submodule "retext/retext-passive"]
	path = retext/retext-passive
	url = git@github.com:wooorm/retext-profanities.git
[submodule "retext/retext-readability"]
	path = retext/retext-readability
	url = git@github.com:wooorm/retext-readability.git
[submodule "retext/retext-redundant-acronyms"]
	path = retext/retext-redundant-acronyms
	url = git@github.com:wooorm/retext-redundant-acronyms.git
[submodule "retext/retext-repeated-words"]
	path = retext/retext-repeated-words
	url = git@github.com:wooorm/retext-repeated-words.git
[submodule "retext/retext-sentence-spacing"]
	path = retext/retext-sentence-spacing
	url = git@github.com:wooorm/retext-sentence-spacing.git
[submodule "retext/retext-sentiment"]
	path = retext/retext-sentiment
	url = git@github.com:wooorm/retext-sentiment.git
[submodule "retext/retext-smartypants"]
	path = retext/retext-smartypants
	url = git@github.com:wooorm/retext-smartypants.git
[submodule "retext/retext-spell"]
	path = retext/retext-spell
	url = git@github.com:wooorm/retext-spell.git
[submodule "retext/retext-syntax-mentions"]
	path = retext/retext-syntax-mentions
	url = git@github.com:wooorm/retext-syntax-mentions.git
[submodule "retext/retext-quotes"]
	path = retext/retext-quotes
	url = git@github.com:wooorm/retext-quotes.git
